.main-table {
    border-collapse: collapse;
}

.main-table td {
    width: 200px;
    height: 30px;
    border: solid 1px #a6a6a6;
}

.selection {
    /* 事件穿透 */
    pointer-events: none;
    position: absolute;
    border: 1px solid #0882cf;
}