.main-table {
    width: max-content;
    border-collapse: collapse;
}

.main-table td {
    width: 150px;
    height: 30px;
    border: solid 1px #a6a6a6;
    padding: 0;
    padding-left: 4px;
    padding-right: 4px;
    outline: none;
    font-size: 14px;
    user-select: none;
}

.selection {
    /* 事件穿透 */
    pointer-events: none;
    position: absolute;
    border: 1px solid #0882cf;
}

.cell-input {
    border: none;
    padding: 0;
    outline: none;
    width: 100%;
    height: 100%;
    font-size: 14px;
}